<link rel="stylesheet" href="/public/styles/quiz.css">

<div class="container">
    <div class="row">
        <h5 class="col-md">Welcome, {{this.teamName}}. Your score is: {{this.score}} Points.</h5>
        <h5 class="col-md" id="timeRem">Time Reamining: 30</h5>
    </div>
</div>
<div class="container">
    <button id="getQuestion">Get Question</button>

</div>
<div class="container quiz">
    <hr>
    <h4 class="questionDis" id="query"></h4>

    <p class="btn btn-primary" id="a"></p>
    <p class="btn btn-primary" id="b"></p>
    <p class="btn btn-primary" id="c"></p>
    <p class="btn btn-primary" id="d"></p>

</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/start.js">
</script>